dl, dd, input, h2, h3 {
  margin: 0;
  padding: 0;
}

button {
  min-width: 100px;
  height: 30px;
  background: white;
  border-radius: 8px;
  border: 1px solid gray;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  vertical-align: middle;
  cursor: pointer;
}
button:hover {
  background-color: #eee;
  border-color: black;
}

select, input[type=date] {
  min-width: 100px;
  height: 30px;
  padding: 0 8px;
  font-size: 16px;
  border-radius: 8px;
}

input {
  max-width: 150px;
  height: 30px;
  font-size: 16px;
}
input[type=text] {
  color: blue;
}
input[type=radio] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
input[type=radio] + span {
  font-size: 16px;
  padding-left: 4px;
  line-height: 20px;
  vertical-align: middle;
}

.ot {
  padding-bottom: 100px;
}
.ot__header {
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.ot__content {
  width: 1280px;
  margin: 0 auto;
  border: 1px solid black;
}
.ot__default {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 1px solid #eee;
}
.ot__default .default__title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.ot__default .default__list {
  display: flex;
  align-items: center;
  border-top: 1px solid #eee;
}
.ot__default .default__name {
  flex: 0 0 100px;
  padding: 16px;
  text-align: center;
  font-size: 16px;
}
.ot__default .default__input {
  width: 100%;
  padding: 16px;
  font-size: 0;
  border-left: 1px solid #eee;
}
.ot__default .default__input--radio {
  display: flex;
  gap: 20px;
}
.ot__default .default__input__wrapper:not(:first-of-type) {
  margin-top: 8px;
}
.ot__default .default__input__name {
  font-size: 16px;
  padding-left: 4px;
}
.ot__write {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.ot__write .write__header {
  padding: 20px;
  border-bottom: 1px solid #eee;
  text-align: center;
}
.ot__write .write__title {
  font-size: 20px;
}
.ot__write .write__content {
  width: 500px;
  border: 1px solid #eee;
  border-radius: 8px;
}
.ot__write .write__input {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 16px;
  padding: 20px;
  border-bottom: 1px solid #eee;
}
.ot__write .write__result {
  padding: 0 20px 40px;
}
.ot__write .write__result__title {
  font-size: 18px;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
}
.ot__write .write__result .result__table {
  text-align: center;
}
.ot__write .write__done {
  width: 100%;
  text-align: center;
}
.ot__write .write__done button {
  width: 280px;
  height: 40px;
  font-size: 20px;
}
.ot__write .write__excel {
  text-align: center;
}
.ot__write .write__excel__guide {
  color: red;
}
.ot__write .write__excel label {
  display: inline-block;
}
.ot__write .write__excel input {
  max-width: none;
}
.ot__result {
  margin: 0 auto;
  margin-top: 50px;
  border-top: 2px solid black;
}
.ot__result .result__header {
  text-align: center;
  margin-bottom: 20px;
}
.ot__result .result__html {
  border: 1px solid aqua;
  margin-top: 50px;
}
.ot__result__table {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
.ot__result .js__result-table {
  width: 800px;
  margin: 0 auto;
}

.blind {
  font-size: 0;
}/*# sourceMappingURL=overTime.css.map */